.swal2-popup{
    background-color: transparent;
    background-image: url("/open_book.png");
    background-size: cover;
    background-position: center;
    aspect-ratio: 1 / 1.2;
}
.swal2-html-container{
}


.gl{ height: 1700px;

    .nav{
        display: flex;
        width: 100%;
        align-items: center;
        height: 80px;
        gap: 10px;
        .button_contact{
            width: 150px;
            height: 43px;
            padding-top: 10px;
            font-family: 'Minecraftia', monospace, sans-serif;
            font-size: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 3%;
            
            img{
                width: 25px;
                height: 25px;
                transform: translateX(7px) translateY(-5px);
            }
            p{
                height: 20px;
                transform: translateY(-5px);
            }
        }
        .button_about_me{
            width: 150px;
            height: 43px;
            padding-top: 10px;
            font-family: 'Minecraftia', monospace, sans-serif;
            font-size: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img{
                width: 25px;
                height: 25px;
                transform: translateX(10px) translateY(-5px);
            }
            p{
                height: 20px;
                transform: translateY(-5px);
            }
        }
    }
    .data_cont{
        width: 100%;
        justify-content: center;
        margin-top: 30px;
        .avatar{
            width: 280px;
            height: 350px;
            transform: translateY(30px);
            animation: appear_right 2s forwards;
        }
        h1{
            font-family: 'Minecraftia', monospace, sans-serif;
            color: rgb(225, 225, 225);

        }
        h2{
            font-family: 'Minecraftia', monospace, sans-serif;
            color: rgb(225, 225, 225);

        }
        .details{
            max-width: 400px;
            color: rgb(214, 220, 150);
            margin-top: 20px;
            height: 136px;
        }
        .icons{
            display: flex;
            gap: 30px;
          .icon_cont{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 20px;
            gap: 20px;
            .icon{
                width: 50px;
                height: 50px;
               }
            .icon:hover{
                animation: giro 1s;
            }
               p{
                color: rgb(218, 219, 207);
            }
            .icon:hover > p{
                color: rgb(109, 116, 41);
            }
          }
        }
    }
    .proyects{
        width: 100%;
        margin-top: 30px;
        
        
        .title{
            display: flex;
            text-align: center;
            justify-content: center;
            width: 100%;
            gap: 20px;
            h1{
                color: rgb(227, 227, 227);
            }
            img{
                width: 50px;
                height: 50px;
            }
        }
        .proyects_cont{
            margin-top: 10px;
            .swiper{
                max-width: 500px;
                height: 200px;
                img{
                    width: 130px;
                    height: 150px;
                }
                p{
                    color: rgb(145, 228, 154);
                    margin-top: 20px;
                    transform: translateX(20px);
                }
            }
        }

    }

    .stack{
        width: 100%;
        margin-top: 100px;
        min-height: 200px;
        .title{
            display: flex;
            text-align: center;
            justify-content: center;
            width: 100%;
            gap: 20px;
            h1{
                color: rgb(227, 227, 227);
            }
            img{
                width: 50px;
                height: 50px;
                animation: rotateaxe 2s forwards;
            }
            .azada{
                animation: rotate 2s forwards;
            }
        }
        
        .chests_cont{
            margin-top: -20px;
            width: 100%;
            display: flex;
            min-height: 200px;
            justify-content: center;

            .swiper{
                margin-top: 50px;
                max-width: 800px;
                .swiper-slide-next > img{
                    transform: scale(1.15);
                    transition: 0.5s;
                }
                img{
                    width: 250px;
                    height: 200px;
                    opacity: 0.8;
                }
                p{
                    text-align: center;
                    color: antiquewhite;
                    transform: translateX(-10px);
                }
            }
        }
    }
}
@media screen and ( max-width: 790px ){

    .gl{
        height: 2000px;
        .nav{
            justify-content: center;
            .button_contact{   
                img{
                }
            }
            .button_about_me{
                width: 150px;
                height: 43px;
                padding-top: 10px;
                font-family: 'Minecraftia', monospace, sans-serif;
                font-size: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                
                img{
                    width: 30px;
                    height: 30px;
                }
            }
        }
        .data_cont{
            width: 100%;
            justify-content: center;
            margin-top: 20px;
            align-items: center;
            flex-direction: column;
            .avatar{
                width: 280px;
                height: 350px;
                animation: appear_right 2s forwards;

            }
         .info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h1{
                margin-top: 20px;
                font-family: 'Minecraftia', monospace, sans-serif;
                color: rgb(225, 225, 225);
                text-align: center;
    
            }
            h2{
                font-family: 'Minecraftia', monospace, sans-serif;
                color: rgb(225, 225, 225);
                text-align: center;
            }
            .details{
                max-width: 350px;
                color: rgb(214, 220, 150);
                margin-top: 20px;
                height: 136px;
                text-align: center;
            }
            .icons{
                display: flex;
                gap: 30px;
                justify-content: center;
                align-items: center ;
                flex-wrap: wrap;
                max-width: 200px;
            }
         }
        }
        .proyects{
            width: 100%;
            margin-top: 50px;
            .title{
                display: flex;
                text-align: center;
                justify-content: center;
                width: 100%;
                gap: 20px;
                h1{
                    color: rgb(227, 227, 227);
                }
                img{
                    width: 50px;
                    height: 50px;
                }
            }
            .proyects_cont{
                margin-top: 50px;
                .swiper{
                    max-width: 500px;
                    height: 200px;
                    .swiper-slide{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                     img{
                        width: 80px !important;
                        height: 80px !important;
                     }
                     p{
                        color: rgb(145, 228, 154);
                        text-align: center;
                        width: 100%;
                        margin: 0;
                        padding: 0;
                        transform: translateX(-3px);
                        margin-top: 20px;
                     }
                    }
                }
            }
    
        }
        .stack{
            width: 100%;
            margin-top: 100px;
            .title{
                display: flex;
                text-align: center;
                justify-content: center;
                width: 100%;
                gap: 20px;
                h1{
                    color: rgb(227, 227, 227);
                }
                img{
                    width: 50px;
                    height: 50px;
                    animation: rotateaxe 2s forwards;
                }
                .azada{
                    animation: rotate 2s forwards;
                }
            }
            .chests_cont{
                width: 100%;
                display: flex;
                justify-content: center;
    
                .swiper{
                    margin-top: 50px;
                    max-width: 800px;
                    .swiper-slide-next > img{
                        transform: scale(1.15);
                        transition: 0.5s;
                    }
                    .swiper-slide{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        img{
                            width: 150px;
                            height: 100px;
                            opacity: 0.8;
                        }
                        p{
                            text-align: center;
                            color: antiquewhite;
                            transform: translateX(0px) translateY(10px);
                        }
                    }
                }
            }
        }
    }
}


@media screen and ( max-width: 490px ){
    .swal2-popup{
    background-color: transparent;
    background-image: url("/open_book.png");
    background-size: cover;
    background-position: center;
    aspect-ratio: 1 / 1.2;
    min-height: 500px;
    overflow: hidden;
    
}
    .gl{
        .data_cont{
            width: 100%;
            justify-content: center;
            margin-top: 20px;
            align-items: center;
            flex-direction: column;
            .avatar{
                width: 280px;
                height: 350px;
                animation: appear_right 2s forwards;
            }
            h1{
                margin-top: 20px;
                font-family: 'Minecraftia', monospace, sans-serif;
                color: rgb(225, 225, 225);
                text-align: center;
    
            }
            h2{
                font-family: 'Minecraftia', monospace, sans-serif;
                color: rgb(225, 225, 225);
                text-align: center;
            }
            .details{
                max-width: 350px;
                color: rgb(214, 220, 150);
                margin-top: 20px;
                height: 136px;
                text-align: center;
            }
            .icons{
                display: flex;
                gap: 30px;
                justify-content: center;
            }
        }
        .stack{
            width: 100%;
            margin-top: 100px;
            .title{
                display: flex;
                text-align: center;
                justify-content: center;
                width: 100%;
                gap: 20px;
                h1{
                    color: rgb(227, 227, 227);
                }
                img{
                    width: 50px;
                    height: 50px;
                    animation: rotateaxe 2s forwards;
                }
                .azada{
                    animation: rotate 2s forwards;
                }
            }
            .proyects{
                .swal2-container{
                    img{
                        width: 100px;
                        height: 100px;
                    }
                }
            }
            .chests_cont{
                width: 100%;
                display: flex;
                justify-content: center;
    
                .swiper{
                    margin-top: 50px;
                    max-width: 800px;
                    .swiper-slide-next > img{
                        transform: scale(1.15);
                        transition: 0.5s;
                    }
                    .swiper-slide{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        img{
                            width: 80px;
                            height: 50px;
                            opacity: 0.8;
                        }
                        p{
                            text-align: center;
                            color: antiquewhite;
                            transform: translateX(0px) translateY(10px);
                        }
                    }
                }
            }
        }
    }
}




@keyframes giro{
    0%{
     transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg) translateY(-5px);
    }
}


@keyframes rotate{
    0%{
        transform: rotateX(0deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(200deg) rotateY(200deg);
    }
}

@keyframes rotateaxe{
    0%{
        transform: rotateX(200deg) rotateY(200deg);
    }
    100%{
        transform: rotateX(0deg) rotateY(0deg);
    }
}

@keyframes appear_bottom{
 0%{
    transform: translateY(10px);
 }
 100%{
    transform: translateY(0px);
 }
}

@keyframes appear_right{
    0%{
       transform: translateX(-30px);
    }
    100%{
       transform: translateX(0px);
    }
   }